// .background {
//   position: relative;
//   overflow: hidden;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;

//   display: flex;
//   flex-grow: 1;
//   z-index: -1;

//   justify-content: center;
//   align-items: center;
// }

.CardList {
  position: absolute;
  display: flex;
  width: fit-content;
  height: fit-content;
  border-radius: 12px;
  // border: 2px solid rgba(238, 44, 225, 0.712);
  box-shadow: 2px 2px 68px rgba(31, 49, 3, 0.377);
  background: linear-gradient(to bottom right, #d5dc0dce, #b2ff4d);

  padding: 40px;
  gap: 20px;

  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__icons {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    & svg {
      width: 100%;
      height: 100%;
    }
  }
}
.interaction form {
  position: relative;

  display: flex;
  gap: 20px;
  justify-content: space-between;

  width: 100%;
  padding: 20px 5px;

  input {
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    outline: #b2ff4d;
    border: none;

    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.368);
  }

  .addButton {
    display: flex;
    width: 50px;
    background-color: #b2ff4d;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
}
.addButton:hover {
  background-color: rgb(98, 12, 12);
}

.wrappercard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
